body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

header {
    padding: 0px 5px;
    width: 1200px;
    margin: 0 auto;
}

#top-links {
    display: flex;
    justify-content: flex-end;
}

#top-links>li {
    display: flex;
    list-style: none;

}

#top-links li a {
    text-decoration: none;
    font-size: 0.72em;
    margin-left: 10px;
    color: #5f5f5f
}

#header-row1 {
    height: 3em;
}

#header-row2 {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

#header-row2 col {
    display: flex;
}

#header-col1 {
    display: flex;
    flex-direction: column;
}

#header-col1-1 {
    display: flex;
}

#header-col1-2 {
    display: flex;
    margin-left: 90px;
    font-size: 0.75em;
    font-weight: bold;
}

#header-col1-2 span {
    color: #ff6000;
}

#header-col2-search i {
    font-size: large;
    top: 10px;
    left: 10px;
}

#header-col2-search input {
    line-height: 2em;
    border: 2px solid #919191;
}

#header-col2-search button {
    background-color: #919191;
    color: #fff;
}

#header-col2-search input:focus {
    border: 2px solid #ff6000;
    outline: 3px solid #ff6000;
}

#konum-dropdown {
    display: flex;
    justify-content: center;
}

#header-col3 {
    display: flex;
    align-items: center;
    justify-content: right;

}

#header-col3-geo-area {
    display: flex;

}

#header-col3-geo-area .bi-geo-alt {
    font-size: 1.7em;
    margin: 8px;
    color: #ff6000;
}

.geo-area-button {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.geo-area-button p {
    font-weight: bold;
    font-size: 14px;
}

.geo-area-button .p-renk {
    color: #ff6000;
    text-align: left;
    font-size: 12px;
}

#header-col3-geo-area .bi-caret-down-fill {
    color: #ff6000;
    font-size: 8px;

}

#header-col2-search-dropdown {
    width: fit-content;
    border: 2px solid #ff6000;
}

#popover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(201, 199, 199);
    border-radius: 5px;
    padding: 5px;
    margin-left: 35px;
    box-shadow: 0 1px 1px rgb(201, 199, 199) inset, 0 0 8px rgb(201, 199, 199);
}

#popover a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 12px;

}

#popover a span {
    font-size: 10px;
}

#popover>div>.bi-person {
    font-size: 20px;
}

.bi-cart {
    font-size: 25px;
}

.badge-mine {
    left: 25px;
    margin-top: 7px;
    font-size: 8px;
}

#geo-area-out {
    display: flex;
    justify-content: right;
}

.clear-fix {
    display: none;
    clear: both;
}

#hr {
    width: 100%;
    line-height: 8px;
    margin: 10px auto;
}

#hr-col1 {
    background-color: #FF6000;
    color: #FF6000;
}

#hr-col2 {
    background-color: #49C7ED;
    color: #49C7ED;
}

#hr-col3 {
    background-color: #7723DB;
    color: #7723DB;
}

#hr-col4 {
    background-color: #57B900;
    color: #57B900;
}

#hr-col5 {
    background-color: #5D196A;
    color: #5D196A;
}

#nav-fullwidth {
    background-color: #f5f5f5;
}

#nav-fullwidth .navbar {
    background-color: #f5f5f5;
}


.navbar-nav .nav-item {

    border-width: 1px;
    text-align: center;
}

.navbar-nav .nav-item:hover {
    background-color: white;
    max-height: 50px;
}

.navbar-nav .nav-item a {
    color: rgb(125, 122, 122);
    font-weight: bold;
    font-size: .95em;
}

.navbar-nav {
    margin: -15px;
}

.navbar-nav .nav-item a:hover {
    color: #FF6000;
}

.tab-nav-menu {
    font-size: 14px;
    font-weight: bold;
}

.tab-menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-area {
/* background: url(../images/format_webp.jpeg) no-repeat center center; */

height: 515px
}

.nav-item button {
    color: white;
    border-radius: 20px !important;
}

.nav-item .active {
    background-color: white !important;
    color: black !important;
}

.carousel-ayar {
    top: 150px;
    left: 70px;
    max-width: 380px;
    text-align: left;
}

.carousel-ayar button {
    border-radius: 20px;
    font-weight: bold;
    font-size: .9em;
}

.carousel-inner img {
    width: 650px;
    margin: -10px 0;
    margin-right: 18px;
    border-radius: 5px;
}

#DealoftheDay p.h6 {
    color: rgb(246, 109, 0) !important;
}

.dealoftheday-area div {
    margin: 10px 12px;
}

.dealoftheday {
    width: 224px;
    height: 362px;
    background-size: cover;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid rgb(229, 228, 228);
}

.dealoftheday:hover {
    box-shadow: -2px -2px 10px 10px rgb(232, 231, 231);
}

.dealoftheday1 {
    width: 240px !important;

}

.dealoftheday img {
    border: none;
    width: 90%;
    margin: 0 auto;
}

.dealoftheday span {
    color: rgb(246, 109, 0);
    font-size: 1.8em;
    font-weight: bolder;
}



.sonraki {
    border: 1px groove rgb(254, 254, 254) !important;
    border-radius: 50%;
    background-color: rgb(155, 152, 152);
    margin-left: 150px;
}

.onceki {
    border: 1px groove rgb(254, 254, 254) !important;
    border-radius: 50%;
    background-color: rgb(155, 152, 152);
    margin-right: 150px;
}

#DealoftheDay a {
    text-decoration: none;
}

#sfBannerColumn div {
    display: block;
    float: left;
}

.thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.thumb {
    display: flex;
    flex-direction: column;
    margin: 0 10px auto;

}

.thumb p {
    padding-top: 15px;
}

#thumbnailCarousel button {
    margin: -25px -40px 25px 10px;
}

.review {
    margin: 2px 40px;
    padding: 15px;
    border: 1px groove rgb(226, 225, 225);
    box-shadow: 5px 10px #edecec;
    border-radius: 5px;
}

.review-star {
    font-size: 1.7em;
}

.review1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px groove rgb(226, 225, 225);
    padding: 16px;
    border-radius: 5px;
}

.review img {
    width: 50%;
    margin-right: 18px;
}

.review1 .bi-star {
    color: #FF6000;
}


.dealoftheday-area div {
    margin: 10px 12px;
}

.preffer {
    width: 160px;
    height: 362px;
    background-size: cover;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.5px solid rgb(229, 228, 228);
    border-radius: 10px;
}

.preffer img {
    border: none;
    width: 90%;
    margin: 0 auto;
}

.preffer-star {
    margin-top: -12px !important;
}

#sepet:hover {
    color: white;
    background-color: #923c07;
    padding: 2px 15px auto;
    border-radius: 5px;
    font-size: 1.3em;
}

#sepet {
    color: white;
    background-color: #FF6000;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 1.3em;
    margin-top: 20px;
}

.preffer-star .bi-star {
    background-color: #FF6000;
}

#sepet2:hover {
    color: white;
    background-color: #923c07;
    padding: 2px 15px auto;
    border-radius: 5px;
    font-size: 1.3em;
}

#sepet2 {
    color: white;
    background-color: #FF6000;
    padding: 2px 25px;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 0 auto;
    margin-top: 60px;
}

.baslik a p.h6 {
    color: rgb(246, 109, 0);

}

.baslik a {
    text-decoration: none;
}

.preffer small {
    color: white;
    background-color: #ff6000;
    border-radius: 3px;
    padding: 2px;
    margin: 0 auto;
}

.preffer p.h6 {
    font-size: 1em;
    margin-left: 12px;
}

.preffer .indirim {
    color: #439E4A;
    font-size: .9em;
    margin-left: 12px;
}

.footer-link a {
    text-decoration: none;
    color: #959595;
    font-size: 0.9em;
}

.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 0.9em;
}

.feedback-top {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    font-size: 0.9em;
}

.feedback img {
    margin: 25px 0;
}

.feedback p.h5 {
    font-size: 1.3em;
    font-weight: bolder;
}

.toggler {
    font-size: 0.8em;
}

.toggler a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    font-weight: bolder;
}

#toggle-info .card {
    border: none !important;
}

.bottom-menu {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    font-size: 12px;
}

.links {
    display: inline-flex;
    flex-direction: column;


}

.links a {
    margin: 5px 0;
    text-decoration: none;
    color: #959595;
}

.links strong {
    margin: 20px 0;
}

.toggle-top p {
    padding: 0 20px;
}

.bottom-menu-right {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    font-size: 12px;
}

.links2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.links2 .bi {
    font-size: 2.6em;
    color: gray;
}

.links2 div {
    display: flex;
    align-items: center;
}

.links2 div small {
    margin: 0 10px;
}

.links2 a {
    margin: 5px 0;
    text-decoration: none;
    color: #959595;
    font-size: 12px;

}

.links2 strong {
    margin: 20px 0;
}

#hr2 {
    width: 100%;
    line-height: 2px;
    margin: 10px auto;
}

#hr-colx {
    background-color: #e3e0e0;
    margin: 0 5px;
}

#bottom-sag {
    margin-top: 10px;
}

#bottom-sag i {
    display: flex;
    font-size: 1.8em;
    margin-right: 5px;
}

#bottom-sag a {
    display: inline;
    font-size: 0.72em;
    line-height: 14px;
}

#bottom-sag span:hover {
    font-weight: bold;
}

#footerEnd {
    background-color: #edecec;
    height: fit-content;
}

.deep {
    font-size: 0.72em;
    line-height: 10px;
}

.deep span {
    color: #919191
}

/* Search Page CSS Area */

#filter-main {
    font-family: Inter,
        -apple-system,
        BlinkMacSystemFont,
        Arial,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif !important;
}

.search-top {
    color: rgb(63, 62, 62);
    font-weight: bolder;
    font-size: 1.75em;
    margin-top: 50px;
}

.filter-top #ust {
    flex-direction: column;
}

.filter-top #ust a {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0 5px;
}

.filter-top #ust .col {
    justify-content: space-between;
}

.order-button {
    background-color: white;
    border: 1px solid rgb(234, 232, 232);
    padding: 3px;
}

.order-button button,
.order-button ul li .dropdown-item {
    font-size: 0.85em;
    font-weight: 600;
}

.order-button ul li .dropdown-item:hover {
    color: #ff6000
}

#filter-area {
    border: 1px solid rgb(223, 222, 222);
    border-radius: 8px;


}

#filter-area .row p {
    margin: 10px;
    font-size: 0.85em;
}

.sol-area {
    border-top: 1px solid rgb(223, 222, 222);
    border-radius: 8px;
    padding: 10px 10px;
    color: #575757;
}

.sol-area .btn-warning div {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

}

.sol-area .btn-warning {
    display: inline-flex;
    border-radius: 30px;
    width: 48%;
    font-size: 0.80em;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-color: #FF6000;
    margin-bottom: 15px;
    line-height: 15px !important;
}

.sol-area .temizle {
    margin-left: 60px;
    font-weight: 600;
    text-decoration: none;
    color: #575757;
    font-size: 0.80em;

}

.sol-area .temizle:hover {
    color: #ff6000
}

.check-list {
    padding: 20px;
    font-size: 0.85em;
    overflow-y: scroll;
    max-height: 200px;
}

.check-list::-webkit-scrollbar {
    display: block;
    width: 15px;
}

.check-list::-webkit-scrollbar-track {
    background: transparent;
}

.sol-area div i {
    top: 8px;
    left: 10px;
}

.sol-area div input[type="text"] {
    padding-left: 33px;
}

.radio-area input[type="text"] {
    padding-left: 10px !important;
    font-size: 0.65em;
    margin: 0 4px;
}

.radio-area {
    display: flex;
    justify-content: space-between;
}

.radio-area a {
    padding-left: 10px;
    font-size: 0.75em;
    background-color: #c2c0c0;
    border: none;
}



.kupon {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 12px
}

.sol-area p i {
    font-size: .8em;
}

.form-check input:checked {
    background-color: #FF6000;
    border-color: #FF6000;
}

.form-check .form-check-label {
    padding-left: 2px;
    font-size: 0.85em;
}

.form-check .form-check-input {
    margin-left: -15px;
}

.form-check .form-check-label i {
    color: rgb(254, 179, 75);
}

.bi-info-circle-fill {
    font-size: .75em;
}

.radio-area a i {
    font-size: 1.2rem;
}

.radio-area input[type=text]:focus {
    border-color: #FF6000;
}

.sag-area {
    border: 1px solid rgb(223, 222, 222);
    border-radius: 8px;
    padding: 10px 10px;
    color: #575757;
}

/* Slider top */
#slider-top .carousel-inner .carousel-item button {
    margin: 5px;
}

/* Carousel Area */
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}



/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);

    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.kayan-buton {
    border-radius: 10px;
    border: 1px solid rgb(242, 239, 239);

}

.carousel-item div button {
    border-radius: 20px;
    margin: 0 5px;
    font-size: 0.75em;
    width: 160px;
    border-color: rgb(225, 223, 223);
    font-weight: 600;
    color: rgb(37, 37, 37);
}

#recipeCarousel a .carousel-control-prev-icon {
    background-color: #e6e8e7;
    width: 20px;
    margin-left: -100px;

}

#recipeCarousel a .carousel-control-next-icon {
    background-color: #e6e8e7;
    width: 20px;
    margin-right: -100px;

}

.card i.bi-suit-heart {
    left: 190px;
    top: 10px;
    background-color: rgb(232, 231, 231);

    padding: 9px 9px 3px 9px;
    border-radius: 50%;
}

.card-title {
    font-size: .70em;
    font-weight: bold;
    color: white;
    background-color: #FF6000;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}

.card-text {
    font-size: .72em;
}

.card-body p i.bi-star-fill {
    font-size: .72em;
    margin: -1px;
}

.card-body p span {
    font-size: .72em;
    margin: 0 3px;
    color: rgb(186, 177, 177);
}

.price {
    font-size: .9em;
    font-weight: bold;
    margin: 0 3px;
    color: rgb(34, 32, 32);
    padding-bottom: 15px;
}

.card-body a {
    display: flex;
    justify-content: center;
    background-color: #ff6000;
    color: white;
}

.card {
    margin-bottom: 20px;
}

.banner {
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
}

.banner div div p {
    font-size: 1.1em;
    font-weight: bolder;
    font-style: italic;
}

.banner div div p span {
    background-color: rgb(94, 253, 94);
    font-size: 1.2em;
    font-weight: bolder;
    font-style: italic;
}

.banner div a.btn {
    border-radius: 20px;
    width: 120px;
}

.carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
}

.carousel-indicators .card img {
    width: fit-content;
    height: fit-content;
}


.ozellik-baslik {
    font-size: .8em;
    text-justify: newspaper;
}

.ozellik-aciklama {
    font-size: .8em;
    text-justify: newspaper;
}

.sag-ozellik {
    background-color: #eeeeee;
}

.ozellik-link {
    text-decoration: none;
    color: #5f5f5f;
}


.ozellik-link p {
    font-size: .8em;
}

.ozellik-link p strong:hover {
    color: #ff6000
}

.premium {
    font-size: .75em;
    margin: 0 4px;
}


.ozel-alan {
    display: flex;
    font-size: .75em;
    background-color: white;
    padding: 8px;
    border-radius: 4px;

}

.ozel-alan a {
    text-decoration: none;
}

.ozellik-link small {
    color: white;
    background-color: #52c95c;
    padding: 2px 5px;
    border-radius: 3px;
}

.sag-ozellik .btn-outline-secondary {
    height: fit-content;
    font-size: .75em;
    margin: 0 8px;
    font-weight: bold;
}

.variant {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    width: 25%;
    border: 2px solid #ff6000;
    margin-top: 20px;
}

.variant div {
    text-align: justify;
    margin: 0 5px;
}

.variant div span {
    color: #c2c0c0
}

.variant img {
    width: 20%;
}

.kazaen {
    background-color: white;
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
}

.kazaen:hover {
    border: 2px solid #ff6000;

}

.kazaen span {
    font-size: .75em;
}

.kazaen .bi-info-circle-fill {
    color: #959595
}

.kazaen div p strong {
    color: #57B900;
}

.kazaen a.btn {
    left: 220px;
    top: 10px;
    width: 25%;
    padding: 2px;
    color: #ff6000;
    background-color: #f9eae0;
    border: none;
}

.kazaen a.btn:hover {
    left: 220px;
    top: 10px;
    width: 25%;
    padding: 2px;
    color: #ff6000;
    background-color: #f7ccb1;
}

.miktar input[type=text] {
    width: 60px;
    border: none;

}

.miktar>.btn-group button {
    background-color: #919191;
    color: black;
    font-size: 1.2em;
}

.miktar>button {
    background-color: #ff6000;
    border: none;
    padding: 10px;
}

#sepet-ek:hover {
    background-color: #cd5103 !important;
}

.eskici {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0eaff;
    border: 1px solid #cebaff;
    height: 70px;
    border-radius: 10px;
    margin: 4px auto;
}

.eskici img {
    width: 10%;
}

.eskici div {
    font-size: .85em;
    margin: 0 15px;
}

.eskici i {
    margin-right: 15px;
}

.eskici button {
    font-size: .75em;
}

.alisveris-kredisi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e6f1f4;
    border: 1px solid #ade4f3;
    height: 70px;
    border-radius: 10px;
    margin: 2px auto;
}

.alisveris-kredisi img {
    width: 10%;
}

.alisveris-kredisi div {
    font-size: .85em;
    margin: 0 15px;
}

.alisveris-kredisi i {
    margin-right: 15px;
}

.alisveris-kredisi button {
    font-size: .75em;
}

.kupon {
    background-color: white;
    width: 50%;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ff6000;
}

.kupon p {
    font-size: .8em;
    color: #959595;
}

.kupon span {
    font-size: .8em;
    color: #959595;
}

.kupon span a {
    text-decoration: none;
    color: #959595;
}

.kupon div p strong {
    color: #57B900;
}

.kupon a {
    left: 170px;
    top: 10px;
    width: 35%;
    padding: 5px;
    color: #2ae00a;
    background-color: #f3faf0;
    border: none;
    border-radius: 20px;
    font-size: 1em;
}

.kupon>a:hover {
    left: 170px;
    top: 10px;
    width: 35%;
    padding: 5px;
    color: #2ae00a;
    background-color: #f3faf0;
    border: none;
    border-radius: 20px;
    font-size: 1em;
}

.kupon div span a:hover {
    color: #FF6000;
}

.kuponlar {
    background-color: white;
    margin: 10px;
    width: 97%;
    display: flex;
    border-radius: 10px;
}

.circle-left {
    position: absolute;
    top: 60%;
    left: 98.5%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 12px;
    border-radius: 150px 0px 0px 150px;
    background-color: white;
    border: 1px solid #FF6000;
    border-right: none;
}

.circle-right {
    position: absolute;
    top: 60%;
    left: 1.5%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 12px;
    border-radius: 0px 150px 150px 0px;
    background-color: white;
    border: 1px solid #FF6000;
    border-left: none;
}

.kupon hr {
    border: 1px dashed gray;
}

.like-area div {
    margin: 0 10px;
    font-size: .85em;
}

.like-area a {
    text-decoration: none;
    color: #575757;
}

.like-area a:hover {
    color: #49C7ED
}

.kupon>div>a.btn {
    background-color: rgb(252, 244, 239);
    color: #FF6000;
    width: fit-content;
    border-radius: 5px;
    margin-top: 8px;
}

.teslimat a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.teslimat .next-icon {
    font-size: 2em;
}

#sepet-ek {
    background-color: #FF6000;
    color: white;
    border: none;
}

.shipping {
    background-color: white;
    border-radius: 10px;
}

.shipping div small {
    background-color: #35cf19;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
}

.shipping div span {
    font-size: .85em;
    font-weight: bold;
    color: rgb(79, 153, 255)
}

.shipping div p {
    font-size: .85em;
}

.shipping div div button {
    font-size: .85em;
    margin: 0 10px;
}

.shipping :hover {
    background-color: #edecec;
}

.shipping-area {
    background-color: white;
    padding: 10px;
}

/*Table Area*/
.table-area {
    border: 1px solid rgb(242, 240, 240);
    border-radius: 10px;
    margin: 20px auto;
    width: 1200px;
}

.satir {
    border: 1px solid rgb(242, 240, 240);
    margin: 0px auto;

}

.satir :hover {
    background-color: rgb(250, 249, 248);
    overflow: hidden;

}

.table-area .bi {
    color: #989696;
}

.table-aciklama>span {
    font-size: .9em;

}

.table-aciklama>div>span {
    background-color: rgb(255, 2, 2);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: .72em;
    padding: 3px;
}

.table-aciklama>div>div>small {
    color: #8d8a8a;
}

.table-aciklama>div>div>strong {
    font-size: 1.3em;
    font-weight: bolder;
}

.progress-bar {
    background-color: orange;
}

.yuzde span {
    font-size: .72em;
}

.yuzde .bi-circle-fill {
    color: #FF6000;
    font-size: .5em;

}

.yuzde .bi-caret-up-fill {
    color: #15c805;
    font-size: .8em;

}

.yuzde .bi-caret-down-fill {
    color: red;
    font-size: .8em;
}

.table-link {
    text-decoration: none;
    color: rgb(37, 36, 36);
}

/*tab menu*/
.tab-menu-area {
    border: 1px solid rgb(231, 230, 230);
    margin-top: 20px;
    border-radius: 10px;
}

.tab-menu-area .nav-link {
    background-color: #919191;
}

.nav-link2 {
    background-color: #989696;
    color: white;
    padding: 10px;
    width: 182px;
    border: none;
    border-right: 1px solid white;
    font-size: .9em;
}

button[data-bs-toggle="pill"]:focus-within {
    background-color: white;
    color: black;
}

#pills-urun-aciklama strong {
    font-size: 1.2em;
}

.pills-table {
    font-size: .85em;
}

.taksit {
    font-size: .8em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: rgb(86, 85, 85);
    overflow: hidden;
}

.taksit .banka {
    background-color: #f2f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vade {
    border-top: 1px solid gray
}

.taksit .banka2 {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#vade-gor {
    color: #ff6000;
    font-size: 1.4em;
    text-decoration: none;
}

#nasil-kullanirim .bi-1-circle-fill {
    font-size: 2.4em;
    color: #6c84fa;
}

#nasil-kullanirim .bi-2-circle-fill {
    font-size: 2.4em;
    color: #6c84fa;
}

#nasil-kullanirim .bi-3-circle-fill {
    font-size: 2.4em;
    color: #6c84fa;
}

#nasil-kullanirim .bi-check-circle-fill {
    font-size: 2.4em;
    color: #05cf16;

}

#kredi-onay {
    background-color: #edf0fe !important;
    color: #6c84fa;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    font-size: .85em;
}

#pills-iptal-iade .row div div small {
    font-size: .75em;
}

#pills-iptal-iade .row div a {
    text-decoration: none;
    color: #FF6000;
    font-weight: bold;
}

#pills-urun-aciklama .bg-dark-subtle1 {
    background-color: rgb(241, 240, 240);
    font-size: .72em;
}

#pills-urun-aciklama .bg-light-subtle {
    font-size: .72em;
}

.sepet:hover {
    color: white;
    background-color: #923c07;
}

.sepet {
    color: white;
    background-color: #FF6000;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1em;
}

.table-area-baslik div p {
    background-color: rgb(248, 247, 247);
    font-size: 1em;
    margin-top: 5px;
}

.table-renk small {
    background-color: #439E4A;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: .68em;
}

.table-renk span {
    color: #3182fb;
    margin-left: 8px;
}

.table-renk p {
    color: black;
    font-size: .8em;
    padding-top: 12px;
}

.degerlendir input[type=text],
#pills-soru-cevap input[type=text] {
    background-color: #f4f2f2;
    line-height: 36px;
    border-radius: 10px;
    font-size: .85em;
}

.degerlendir input[type=text]:focus,
#pills-soru-cevap input[type=text]:focus {
    background-color: white;

}

.degerlendir i,
#pills-soru-cevap i {
    left: 10px;
    top: 15px;
    color: #575757
}

#pills-soru-cevap button {
    padding: 10px 80px;
    border: 1px solid rgb(230, 229, 229);
    background-color: white;
    color: #ff6000;
}

.degerlendir button {
    padding: 10px 5px;
    border: 1px solid rgb(230, 229, 229);
    background-color: white;
    color: #5f5f5f;
}



#pills-soru-cevap .dropdown-menu {
    padding: 10px 40px;
    border: 1px solid rgb(230, 229, 229);
    border-radius: 10px;
}

.cevap {
    background-color: white;
    font-size: .8em;
    color: #a3a2a2;
}

.input-group1 {
    background-color: white;
    border: 1px solid rgb(246, 245, 245);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 10px rgb(246, 245, 245);
}

.input-group1 span {
    font-size: .72em;
}

.cevap .bi {
    font-size: 1.5em;
}